variables:
  GIT_REPO: github.com/sqreen/go-agent
  GO_PACKAGE_PATH_WITHOUT_GOMODULES: /go/src/$GIT_REPO

test:1.9:
  extends: .test-without-gomodules
  image: golang:1.9

test:1.10:
  extends: .test-without-gomodules
  image: golang:1.10

test:1.11:
  extends: .test
  image: golang:1.11

test:1.12:
  extends: .test
  image: golang:1.12

coverage:
  image: golang:1
  script:
    - make test-coverage
    - bash <(curl -s https://codecov.io/bash)

.test:
  extends: .test
  script:
    - make test-coverage

.test-without-gomodules:
  extends: .test
  before_script:
    # Prepare the expected GOPATH
    - mkdir -p $(dirname $GO_PACKAGE_PATH_WITHOUT_GOMODULES)
    - ln -s $CI_PROJECT_DIR $GO_PACKAGE_PATH_WITHOUT_GOMODULES
    - cd $GO_PACKAGE_PATH_WITHOUT_GOMODULES
    # Download dependencies, including thos required by the tests
    - go get -t -d -v ./...
